<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>Our Coffee</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>Our Neighborhood Cafe</h1>
<nav>
    <ul>
        <li><a href="/coffee">Our Coffee</a></li>
        <li><a href="/">Our Cafe</a></li>
        <li><a href="/tea">Our Tea</a></li>
        <li><a href="/about-us">About Us</a></li>
    </ul>
</nav>
</header>
<main>
    <img src='https://images.unsplash.com/photo-1484251065541-c9770829890f?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''>
    <h1>Our Coffee</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam amet dolorum omnis quod maxime adipisci libero veritatis iure nulla rerum assumenda deleniti atque quisquam soluta vel illo magnam, pariatur molestiae!</p>
    <h2>Where our coffee comes from</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem architecto omnis rem, cupiditate nihil incidunt quas ratione exercitationem possimus reiciendis.</p>
    <h2>Why our coffee is good for you</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique rerum necessitatibus veniam facilis quo a nobis error quis quidem repellendus!</p>
</main>
</body>
</html>n