<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=">
    <title>Our Tea</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<h1>Our Neighborhood Cafe</h1>
<nav>
    <ul>
        <li><a href="/coffee">Our Coffee</a></li>
        <li><a href="/">Our Cafe</a></li>
        <li><a href="/tea">Our Tea</a></li>
        <li><a href="/about-us">About Us</a></li>
    </ul>
</nav>
</header>
<main>
    <img src='https://images.unsplash.com/photo-1559145831-a9a145078702?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ' alt=''>
    <h1>Our Tea</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi odit quod quisquam optio unde, officiis in quos commodi rerum tempora, quis voluptas reprehenderit amet similique mollitia minus, sequi dolor provident?</p>
    <h2>Where our tea comes from</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus hic laboriosam eum fugiat facilis nobis fugit asperiores. Voluptate, consequatur soluta.</p>
    <h2>Why our tea is good for you</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus eveniet nemo doloremque quae autem voluptatem, recusandae beatae! Quaerat, amet quasi.</p>
</main>
</body>
</html>main